body{
        background-color: #ffe8d6;
        font-family: Tahoma;
        
}

main{
        text-align: center;
        font-size: 30px;
        font-weight: bold;

}

#descripcion{
        text-align: justify;
        font-size: 20px;
        font-weight: bold;
        margin-left: 150px;
}

#instrucciones{
        text-align: justify;
        font-size: 16px;
        font-weight: normal;
        margin-left: 30px;
        
}

.caja{
        text-align: center;
        padding: 30px;
        width: 300px;
        height: 450px;
        background-color: #b7b7a4;
        border-bottom-left-radius: 10px;      
        border-bottom-right-radius: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        
}

#codificacion{
        float: left;
        margin-left: 300px;
}

#decodificacion{
        float: right;
        margin-right: 300px;
}

#resetear{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        clear: both;
        margin-top: 20px;
        margin-bottom: 20px;    
 
                
}

footer{ 
        clear: both;
        padding: 30px;
        text-align: center;
        font-size: 12px;
        color: #ffe8d6;   
        background-color: #6b705c;
    }